/*Main design is for a phone*/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/*
 * Styles for the deck of cards
 */
.deck {
    width: 300px;
    min-height: 309px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
.deck .card {
    height: 59px;
    width: 59px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.deck .card.open {
    background: #02b3e4;
    cursor: default;
}
.deck .card.show {
    font-size: 25px;
}
.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 25px;
}
/*
 * Styles for the Score Panel
 */
.score-panel {
    text-align: left;
    width: 280px;
    margin-bottom: 10px;
}
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}
.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}
.score-panel .timer {
    display: inline-block;
    padding-left: 50px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float:right;
    vertical-align: top;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.meme {
    height: 70%;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 20px;
}
.modal-text {
    text-align:center;
}
.buttons {
    display: flex;
    width:100%;
}
.play-again-button, .done-button {
    width:50%;
    padding: 0 5px 0 5px;
}

.no-play, .play {
    font-size: 1.25em;
}

.no-play {
    float: left;
}

.play {
    float: right;
}

/*Properties for a tablet and desktop*/

/*Starting from tablet - make the board bigger*/
@media (min-device-width: 767px) {
    .deck {
        width: 660px;
        min-height: 680px;
        padding: 32px;
    }

    .deck .card {
        height: 125px;
        width: 125px; 
    }

    .deck .card.show, .deck .card.match  {
        font-size: 33px;
    }

}

/*Tablet only*/
@media (min-device-width: 767px) and (max-device-width: 1023px) {
    header {
        font-size: 2em;
    }
    .score-panel {
        width: 600px;
        font-size: 2em;
    }
    .deck .card.show, .deck .card.match  {
        font-size: 50px;
    }
    .modal-content {
        font-size: 1.5em;
    }
    .no-play, .play {
        font-size: 1.75em;
    }
}
/*Properties for desktop*/
@media (min-device-width: 1024px) {
    .score-panel {
        width: 345px;
    }
    .modal-content {
        margin: 15% auto; /* 15% from the top and centered */
        width: 50%; /* Could be more or less, depending on screen size */
    }
    .meme {
        height: 50%;
        width: 50%;
    }
    .play-again-button, .done-button {
        padding: 0 10px 0 10px;
    }
    .no-play, .play {
        font-size: 1.5em;
    }
}