html, body {
  height:100%;
  background-color: #000
}

#timeDisplay , #address , #output ,#quotes{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 7em;
  margin: auto;
  position: relative;
  text-align: center;
  top: 30%;
  width: 100%;  
}

#address, #output{
	font-size:2em;
}

#quotes{
	font-size: 1.2em
}